<%- include("header"); -%>
<div class="cimage">
  <img src="../images/cere3.jpg" alt="" width="100%" height="700">
  <div class="chead">
    <h1 style="font-family: 'Dancing Script',cursive;
    font-size:5vw;">GET IN TOUCH US</h1>
    <p style="font-family: 'Dancing Script',cursive;">we deliver you the best products to you for any queries reach us:)</p>
  </div>

</div>

<div class="poster2">
  <div class="phone">
    <i style="font-size:30px" class="fa fa-phone-square" aria-hidden="true"></i><br>
    Telephone <br>+97333629030<br> +919953002744
    <br>  
    <i style="font-size:30px" class="fa fa-envelope-o" aria-hidden="true"></i><br>
    Email
    <br>
    Piersimport@gmail.com
  </div>


  <div class="address">
    <i style="font-size:30px" class="fa fa-address-card-o" aria-hidden="true"></i><br>
    Address<br>
    P.O Box 87,
      Alhidd,Manama,<br>
      Kingdom Of Bahrain
  </div>
  <div class="address2">
    <i style="font-size:30px" class="fa fa-address-card-o" aria-hidden="true"></i><br>
    Address<br>
    House No:35,III-F Sec-3 <br> Vaisali,Ghaziabad,UttarPradesh <br>UttarPradesh,201010
  </div>


</div>

<div class="form">
  <h1 style="font-family: 'Dancing Script',cursive;"">Get in touch with us</h1>
  <h2>contact us</h2>
  <form action="/" autocomplete="off" method="post">
    <div>
      <input class="name" type="text" id="fname" name="name" placeholder="Your name..">

    </div>
    <div>
      <input class="email" type="text" id="email" name="email" placeholder="Your email..">
    </div>

    <div>
      <input class="subject" type="text" id="subject" name="subject" placeholder="subject..">
    </div>
    <div>
      <textarea class="message" name="message" rows="5" cols="80" placeholder="message..."></textarea>

    </div>
    <div>
      <input class="btn btn-outline-secondary" type="submit" value="Submit">
    </div>


  </form>
</div>

<%-include("footer");-%>
